body {
	background: black;
	font-family: "Indie Flower", cursive;
	line-height: 1.25;
}
.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
	padding: 10px;
}
.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
	padding-top: 5px;
	padding-right: 10px;
}

.postcard-header h1 {
	margin: 0%;
	width: 95%;
	padding: 10px;
}
.postcard-body {
	display: flex;
	padding: 7px;
}
.body-left p:first-child {
	margin-top: 0%;
}
.body-left,
.body-right {
	padding: 5px;
}
input {
	border: none;
	border-bottom: 1px solid grey;
	font-family: "Indie Flower", cursive;
	color: grey;
}
p {
	font-size: 16px;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: dodgerblue;
	padding: 5px;
	font-family: "Indie Flower", cursive;
	color: white;
	border: none;
	border-bottom: 1px solid grey;
	border-right: 1px solid grey;
}
button:hover {
	background-color: lightskyblue;
	border: none;
	border-top: 1px solid grey;
	border-left: 1px solid grey;
}
label {
	font-family: "Indie Flower", cursive;
}
